

html{background-color: #41B3A3;}


.header-style{
background-color: #116466;
padding: 0px;
margin: 0px;
z-index: 1000;
border-style: solid;
border-width: 5px;
border-color: #376E6F;
}

.poster-style{

width: 100%;
padding: 0px;
margin: 0px;

}
.moviedata-style{

width: 100%;
padding: 10px;
margin: 0px;

}


